{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block title %}{% endblock %}
{% block clientabout %}active{% endblock %}

{% block css %}

{% endblock %}

{% block content  %}
	<h3>This is about page.</h3>
	<div class="container">
			<div class="col-md-4 w3layouts-footer">
				<h3>Contact Information</h3>
					<p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>Location:Sathdobato  lalitpur , Nepal </p>
					<p><span><i class="fa fa-envelope" aria-hidden="true"></i></span><a href="#">Website:shankarsachin.com</a> </p>
					<p><span><i class="fa fa-mobile" aria-hidden="true"></i></span>Phone : +9779840894609 / +977 9861118242 </p>
					<p><span><i class="fa fa-globe" aria-hidden="true"></i></span><a href="#">W:Cosmos college of Management and technology </a></p>
	</div>


{% endblock %}

{% block js %}

{% endblock %}